  
.column-2 {
    float:left;
    width: 80%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    min-height: 480px;
    margin:30px;
    margin-right:25px;
    margin-bottom: 50px;
    background-color: #e4cf12;
    line-height:2;
    text-align: center;
}

.section-space.column-2{
  margin-top: 120px;
}

.box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.box-wrapper h1{
  font-size: 25px;
  color:#fd4766
}

.education-list{
  list-style: none;
}

.education-list li {
  margin-bottom: 20px;
}

.education-list li h5 {
  font-size: 19px;
  font-weight: 600;
  text-decoration-line: underline
}

.education-list li p:last-child {
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .column-2 {
    float: none;
    clear: both;
    width: 80%;
    padding: 40px 70px;
    margin: 0 auto 20px;
}

.box-wrapper {
  grid-template-columns: 1fr;
  place-items: center;
}
.mobile-col {
  margin-bottom: 120px;
  
}
}